.productDisplayBtn > p{
    text-transform: capitalize;
    background: #eee;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.productDisplayBtn{
    overflow-x: auto;
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.productDisplayBtn > p.active{
    background: #ccc;
    cursor: pointer;
}