.custom-chat-container {
    position: fixed;
    bottom: 165px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.chat-messages {
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}

.chat-bubble {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.chat-bubble-user {
    background-color: #eee;
    color: #333;
    align-self: flex-end;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px
}

.chat-bubble-guest {
    background-color: #ddd;
    color: #333;
    align-self: flex-start;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-input textarea {
    flex: 1;
    padding: 5px;
    height: 40px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.chat-input button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
